@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}
.chatPage {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1000px) {
    .dmHeigthChange {
        height: 635px !important;
    }
    
    .dmChatHeigthChange {
        height: 705px !important;
    }
}
