@import url(//db.onlinewebfonts.com/c/31ed0189fe1ff1e740a652e0f75b77dc?family=Snell+Roundhand);
@font-face {font-family: "Snell Roundhand"; src: url("//db.onlinewebfonts.com/t/31ed0189fe1ff1e740a652e0f75b77dc.eot"); src: url("//db.onlinewebfonts.com/t/31ed0189fe1ff1e740a652e0f75b77dc.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/31ed0189fe1ff1e740a652e0f75b77dc.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/31ed0189fe1ff1e740a652e0f75b77dc.woff") format("woff"), url("//db.onlinewebfonts.com/t/31ed0189fe1ff1e740a652e0f75b77dc.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/31ed0189fe1ff1e740a652e0f75b77dc.svg#Snell Roundhand") format("svg"); }
.NavBar .menu
{
	position: relative;
	width: 100%;
	height: 40px;
	background: linear-gradient(135deg, #9a0dfe, #637dfb);
	box-shadow: 0 2px 12px 0 rgba(91, 41, 191, 0.5);
	//border-radius: 4px;
}

.NavBar .menu .ProjectName
{
	position: absolute;
	left : 10px;
	top : 6px;
	button{
		padding: 0;
		border: none;
		background: none;
		color: #000000;
		font-family: Snell Roundhand, cursive;
		font-size: 25px;
		font-style: oblique;
		&:hover
		{
			color: rgb(255, 255, 255);
			cursor: pointer;
		}
	}
}

.NavBar #login
{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: linear-gradient(135deg, #9a0dfe, #637dfb);
	border: none;
	width: 200px;
	height: 100px;
	color: #fff;
	font-family:'Times New Roman', Times, serif;
	font-size: 70px;
	border-radius: 30px;
}
  
.NavBar .icon
{
  //font-size: 24px;
  //position: relative;
  top: 3px;
}

.NavBar .menu {
	#profile
	{
		margin-top: 5px;
		position: absolute;
		//top : 1.5px;
		margin-top: 6.5px;
		right : 210px;
		margin-right : 10px;
		span
		{
			font-size : 22px;
		}
	}
	#profile [type=radio]
	{
		position: absolute;
		top: -3.5px;
		right: 3px;
		width : 20px;
		height : 20px;
		cursor: pointer;
		z-index: 1000;
	}
	#settings
	{
		margin-top: 5px;
		position: absolute;
		right : 170px;
		margin-right : 10px;
		span
		{
			font-size : 25px;
		}
	}
	#settings [type=radio]
	{
		position: absolute;
		top: -3px;
		right: 1.5px;
		width : 20px;
		height : 20px;
		cursor: pointer;
		z-index: 1000;
	}
	#logout
	{
		margin-top: 5px;
		position: absolute;
		right : 130px;
		margin-right : 10px;
		span
		{
			font-size : 25px;
		}
	}
	#logout [type=radio]
	{
		position: absolute;
		top: -3px;
		right: 3px;
		width : 20px;
		height : 20px;
		cursor: pointer;
		z-index: 1000;
	}
	#game
	{
		margin-top: 5px;
		position: absolute;
		right : 90px;
		margin-right : 10px;
		span
		{
			font-size : 25px;
		}
	}
	#game [type=radio]
	{
		position: absolute;
		top: -3px;
		right: 1.5px;
		width : 20px;
		height : 20px;
		cursor: pointer;
		z-index: 1000;
	}
	#spectate
	{
		margin-top: 5px;
		position: absolute;
		right : 50px;
		margin-right : 10px;
		span
		{
			font-size : 25px;
		}
	}
	#spectate [type=radio]
	{
		position: absolute;
		top: -2px;
		right: 1.5px;
		cursor: pointer;
		width : 20px;
		height : 20px;
		z-index: 1000;
	}
	#social
	{
		margin-top: 5px;
		position: absolute;
		right : 10px;
		margin-right : 10px;
		span
		{
			font-size : 25px;
		}
	}
	#social [type=radio]
	{
		position: absolute;
		top: -2.5px;
		right: 1.5px;
		width : 20px;
		height : 20px;
		cursor: pointer;
		z-index: 1000;
	}
}
.NavBar #menu_text
{
	position: absolute;
  padding-left: 10px;
  opacity: 0;
  color: #ffffff;
  transition : (all, 0.3s);
}

.NavBar .menu_box
{
  background: #000;
  box-shadow: 0 2px 12px 0 rgba(91, 41, 191, 0.5);
  border-radius: 4px;
  position: absolute;
  bottom: calc(100% + 14px);
  left: 0;
  width: 100px;
  padding: 10px;
  opacity: 0;
  transform : (translateY(100%), translateX(-30%), scale(0.1));
  transition : (all, 0.2s);
  &:after
  {
    content: "";
    position: absolute;
    left: 20px;
    bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid #000;
  }
}

.NavBar .menu_list
{
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.7;
}

.NavBar .icon
{
  position: relative;
  cursor: pointer;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  width: 44px;
  overflow: hidden;
  padding: 0 10px ;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  transition : (all, 0.3s);
  &:hover
  {
	color: rgb(255, 255, 255);
	// #menu_text
	// {
	// 	//width: 112px;
	// 	background-color: rgba(255, 255, 255, 0.3);
    //     opacity: 1;
	//   }
    //   + .menu_box
	//   {
    //     opacity: 1;
    //    	transform : (translateY(0), translateX(0) ,scale(1));
	//   //}
	// }
  }
}


.NavBar .menu [type=radio]
{
  opacity: 0;
  &:hover
  {
    + .icon
	{
	  #menu_text
	  {
		width: 112px;
		background-color: rgba(229, 146, 146, 0.3);
        opacity: 1;
		z-index: -10;
	  }
      + .menu_box
	  {
        opacity: 1;
       	transform : (translateY(0), translateX(0) ,scale(1));
	  }
	}
  }
}

/* The side navigation menu */
.sidenav {
	visibility: hidden;
	height: 100%; /* 100% Full-height */
	width: 260px; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	right: 0;
	background-color: rgb(0, 0, 0); /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
}

.sidenav.active {
	visibility: visible;
	a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 25px;
		color: #818181;
		display: block;
		transition: 0.3s;
	  }
	  
	  /* When you mouse over the navigation links, change their color */
	  a:hover {
		color: #f1f1f1;
	  }
	  
	  /* Position and style the close button (top right corner) */
	  .closebtn {
		background-color: rgb(210, 2, 2);
		border : none;
		outline : none;
		color : red;
		position: absolute;
		top: 10px;
		right: 25px;
		font-size: 30px;
		margin-left: 50px;

		span{
			color : red;
		}
	  }
}
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation *
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }

  @media screen and (max-width: 440px) {
	.NavBar .menu
	{
		height: 70px;
		background: linear-gradient(135deg, #9a0dfe, #637dfb);
		box-shadow: 0 2px 12px 0 rgba(91, 41, 191, 0.5);
	}
	.NavBar .menu .ProjectName
	{
		position: absolute;
		left : 80px;
		top : 35px;
	}
	.NavBar .menu {
		#profile
		{
			left : 40px;
		}
		#settings
		{
			left : 80px;
		}
		#logout
		{
			left : 120px;
		}
		#game
		{
			left : 160px;
		}
		#spectate
		{
			left : 200px;
		}
		#social
		{
			left : 240px;
		}
	}
  }