@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
.NavBar 
{
	//position: relative;
	// width: 100%;
	height: 60px;
	background: #181818;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: space-between;
	align-items: center;
	// padding: 5px 10px;
	//border-radius: 4px;
}

.NavBar  #ProjectName
{
	margin-left: 10px;
	display: flex;
	#home{
		text-decoration: none;
		padding: 0;
		border: none;
		background: none;
		color: #ffffff;
		font-family: Roboto;
		font-size: 32px;
		font-style: oblique;
		&:hover
		{
			transition: 0.3s;
			color: rgb(255, 255, 255);
			cursor: pointer;
		}
	}
}

.NavBar #login
{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #0582CA;
	border: none;
	width: 200px;
	height: 100px;
	color: #fff;
	font-family:'Times New Roman', Times, serif;
	font-size: 70px;
	border-radius: 30px;
}

.NavBar #navButtons
{
	display: flex;
	margin-right: 10px;
	#chat {
		position: relative;
		top : 3px;
	}
}

.NavBar .click
{
	display: flex;
  margin: 4px;
  margin-left: 10px;
  padding: 0;
  background: none;
  color: #ffffff;
  transition : (all, 0.3s);
	&:hover
	{
	  color: rgb(255, 255, 255);
	  cursor: pointer;
	  transition : 0.3s;
    }
	border: none;
	font-size: 32px;
}

.NavBar #menu_text
{
	position: absolute;
  padding-left: 10px;
  opacity: 0;
  color: #ffffff;
  transition : (all, 0.3s);
}

// .NavBar _box
// {
//   background: #000;
//   box-shadow: 0 2px 12px 0 rgba(91, 41, 191, 0.5);
//   border-radius: 4px;
//   position: absolute;
//   bottom: calc(100% + 14px);
//   left: 0;
//   width: 100px;
//   padding: 10px;
//   opacity: 0;
//   transform : (translateY(100%), translateX(-30%), scale(0.1));
//   transition : (all, 0.2s);
//   &:after
//   {
//     content: "";
//     position: absolute;
//     left: 20px;
//     bottom: -20px;
//     border: 10px solid transparent;
//     border-top: 10px solid #000;
//   }
//}

.NavBar _list
{
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.7;
}

// .NavBar  .click
// {
//   position: relative;
//   cursor: pointer;
//   font-size: 20px;
//   line-height: 30px;
//   text-transform: uppercase;
//   color: rgb(0, 0, 0);
//   width: 44px;
//   overflow: hidden;
//   padding: 0 10px ;
//   border-radius: 4px;
//   background-color: rgba(255, 255, 255, 0);
//   box-sizing: border-box;
//   transition : (all, 0.3s);
//   label {
// 	&:hover
// 	{
// 	  color: rgb(255, 255, 255);
// 	  cursor: pointer;
// 	  transition : 0.3s;
//     }
//    }
// }


/* The side navigation menu */
.sidenavSocial {
	//display: flex;
	//justify-content: right;
	visibility: hidden;
	margin-top: 60px;
	height: 3000%; /* 100% Full-height */
	width: 260px; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	right: 0;
	background-color: rgba(0, 0, 0, 0.85); /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 40px;
}

.sidenavSettings {
	//display: flex;
	//justify-content: right;
	visibility: hidden;
	margin-top: 60px;
	height: 3000%; /* 100% Full-height */
	width: 260px; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	right: 0;
	background-color: rgba(0, 0, 0, 0.85); /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 40px;
}

.NavBar .sidenavSocial.active {
	visibility: visible;
	  .closebtn {
		opacity: unset;
		&:hover
		{
			transition: 0.3s;
			color :rgb(255, 255, 255);
		}
		background-color: rgba(0, 0, 0, 0);
		border : none;
		outline : none;
		color : #818181;
		position: absolute;
		top: 10px;
		right: 25px;
		font-size: 30px;
		margin-left: 50px;
	}
}

.NavBar .sidenavSettings.active {
	visibility: visible;
	  .closebtn {
		opacity: unset;
		&:hover
		{
			transition: 0.3s;
			color :rgb(255, 255, 255);
		}
		background-color: rgba(0, 0, 0, 0);
		border : none;
		outline : none;
		color : #818181;
		position: absolute;
		top: 10px;
		right: 25px;
		font-size: 30px;
		margin-left: 50px;
	}
}
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation *
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenavSocial (less padding and a smaller font size) */

  @media screen and (max-width: 550px) {
	.NavBar 
	{
		height: 100px;
		display: flex;
		flex-direction: column;
		justify-content: unset;
		// background: linear-gradient(135deg, #9a0dfe, #637dfb);
		// box-shadow: 0 2px 12px 0 rgba(91, 41, 191, 0.5);
	}
	.sidenavSocial {
		margin-top: 9px;
		width: 100%;
		//height: 100%;
		//height: unset;
		position : relative;
		overflow-x: unset;
		padding-top: unset;
	}
	.sidenavSettings {
		margin-top: 100px;
		width: 100%;
		//height: 100%;
		//height: unset;
		//position : relative;
		overflow-x: unset;
		padding-top: unset;
	}
	.NavBar #ProjectName
	{
		display: flex;
		margin-top: 5px;
		justify-content: center;
		align-items: center;
		margin-left: unset;
		//height: 35px;
	}
	.NavBar #navButtons
	{
		margin-top: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: unset;
		//margin-top: 50px;
	}
	.NavBar .click {
		margin-right: unset;
		margin: 4px;
	}
  }