.SettingsPage {
	.Container {
		display : flex;
		flex-direction: column;
		align-items: center;
		#UsernameGroup {
			margin-top: 10px;
			padding: 2px 14px 6px 14px;
			border-radius: 14px;
			width : 215px;
			border: 1px solid;
			border-color: rgb(255, 255, 255);
			h3 {
				text-align: center;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-top: 6px;
				margin-bottom: 6px;
				color :rgb(255, 255, 255);
			}
			.line {
				height: 1px;
				width : 100%;
				background: rgb(255, 255, 255);
			}
			#UsernameForm {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 4px;
				[type=text]{
					padding: 4px 10px;
					border-radius: 30px;
					border: none;
					max-width: 160px;
				}
				button {
					display: flex;
					border-radius: 30px;
					margin-left: 6px;
					border: none;
					background: black;
				}
				span {
					color :rgb(255, 255, 255);
					display: flex;
					font-size: x-large;
				}
			}
		}
		#AvatarGroup {
			margin-top: 10px;
			padding: 2px 14px 6px 14px;
			border-radius: 14px;
			width : 215px;
			border: 1px solid;
			border-color: rgb(255, 255, 255);
			display: flex;
			flex-direction: column;
			align-items: center;
			//justify-content: center;
			//width : 215px;
			h3 {
				margin-top: 6px;
				margin-bottom: 6px;
				color :rgb(255, 255, 255);
			}
			img {
				object-fit: cover;
				height: 100px;
				width : 100px;
				border-radius: 50%;
			}
			.line {
				margin-top: 10px;
				height: 1px;
				width : 100%;
				background: rgb(255, 255, 255);
			}
			#AvatarForm{
				display: flex;
				align-items: center;
				justify-content: center;
				color :rgb(255, 255, 255);
				[type=file]{
					display: none;
					border-radius: 10px;
					border: none;
					//width : 80px;
				}
				p {
					margin-left: 6px;
					//display: flex;
					max-width : 160px;
					overflow: hidden;
				}
				label{
					display: flex;
					font-size: x-large;
				}
				button {
					margin-left: 6px;
					display: flex;
					border-radius: 30px;
					//margin-left: 6px;
					border: none;
					background: rgb(0, 0, 0);
				}
				span {
					color :rgb(255, 255, 255);
					display: flex;
					font-size: x-large;
				}
			}
		}
		#QrCodeGroup {
			margin-top: 10px;
			padding: 10px 14px 10px 14px;
			border-radius: 14px;
			width : 215px;
			border: 1px solid;
			border-color: rgb(255, 255, 255);
			display: flex;
			flex-direction: column;
			align-items: center;
			#Activate2auth {
				display: flex;
				button {
					font-size: medium;
					background: #ffffff;
					color :#000000;
					border: none;
					border-radius: 10px;
					padding: 2px 4px;
				}
				span {
					display: flex;
					justify-content: center;
				}
			}
			#QrCodeOpened {
				display: flex;
				flex-direction: column;
				align-items: center;
				h3 {
					text-align: center;
					margin: 14px 0px 14px 0px;
					color :#ffffff;
				}
				form {
					display: flex;
					align-items: center;
					background: #000000;
				}
				[type=text]{
					padding: 4px 10px;
					border-radius: 30px;
					border: none;
					max-width: 150px;
				}
				button {
					background: none;
					border: none;
					margin-left: 6px;
				}
				span {
					color :rgb(255, 255, 255);
					display: flex;
					font-size: x-large;
				}
				#cancel2auth {
					font-size: 20px;
				}
			}
			#TwoAuthActivated {
				h3 {
					text-align: center;
					color :#ffffff;
				}
				button {
					background: none;
					border: none;
					margin-left: 6px;
				}
				form {
					margin-top: 10px;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				[type=text]{
					padding: 4px 10px;
					border-radius: 30px;
					border: none;
				}
				span {
					color :rgb(255, 255, 255);
					display: flex;
					font-size: x-large;
				}
				#cancelDesac {
					font-size: 20px;
				}
			}
		}
	}
	// .clickset {
	// 	display : flex;
	// 	align-items: center;
	// 	background-color: rgb(255, 0, 0);
	// 	margin: 0;
	// }
}

@media screen and (max-width: 550px) {
	.SettingsPage{
		height: calc(100vh - 140px);
		overflow:hidden;
		overflow-y:scroll;
		scrollbar-width: none;
		&::-webkit-scrollbar { 
			display: none;  /* Safari and Chrome */
		}
	}
}