.PlayInterface {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 200px;
	.play-button {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: var(--black);
		overflow: hidden;
		color: white;
		font-size: 16px;
		padding: 16px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		border: none;
		border-radius: 8px;
		cursor: pointer;
		margin: 4px 2px;
		transition-duration: 0.4s;
		font-weight: bold;
		-webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
		-moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
		box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	}
}

.play-button:hover {
  background-color: var(--black);
}

.play-button:active {
    background-color: var(--black);
    box-shadow: 0 5px #666;
}

.play-button:disabled {
    background-color: var(--black);
    cursor: not-allowed;
}

.play-button:disabled:hover {
    background-color: #e53935;
}

.play-button:disabled:active {
    background-color: var(--black);
}

.cancel-button {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--black);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 4px 2px;
    transition-duration: 0.4s;
    font-weight: bold;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
}

.waiting-text {
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: var(--black);
    font-weight: bold;
}

.loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f44336;
}


// Style of configuring parameters for the game

// Path: client/src/Components/GameConfig/GameConfig.scss
.game-config {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    background-color: var(--black);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 4px 2px;
    transition-duration: 0.4s;
    font-weight: bold;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
}



.game-config-input {
    background-color: #222222;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 4px 2px;
    transition-duration: 0.4s;
    font-weight: bold;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
}

.game-config-input:focus {
    outline: none;
}

.game-config-input::-webkit-input-placeholder {
    color: white;
}

.game-config-input:-moz-placeholder {
    color: white;
}

.game-config-select {
    background-color: #222222;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 4px 2px;
    transition-duration: 0.4s;
    font-weight: bold;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
}

.game-config-button {
    background-color: #222222;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 4px 2px;
    transition-duration: 0.4s;
    font-weight: bold;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
}

.game-config-secondary {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    background-color: var(--black);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 4px 2px;
    transition-duration: 0.4s;
    font-weight: bold;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
}

@media screen and (max-width: 674px) {
	.PlayInterface {
		margin-top: 150px;
	}
}