.message {
    background-color: #D9D9D9;
    padding: 12px;
    margin: 3px;
    min-width: 150px;
    max-width: 70%;
    width: fit-content;
    color: black;
    animation: visible 0.2s;
    border-radius: 15px 15px 15px 0px;
    overflow-wrap: anywhere;

    .messageContent {
        margin-top: 0px;
    }
}

.messageUser {
    position: relative;
    top: -3px;
    color: rgb(214, 214, 214);
}

.sender {
    align-self: flex-end;
    text-align: right;
    background-color: #181818;
    color: white;
    border-radius: 15px 15px 0px;
    padding: 12px;

    .messageContent {
        text-align: left;
    }
}

.left {
    margin-left: 3px;
}

.right {
    align-self: flex-end;
    margin-right: 5px;
}