.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 5rem;
	padding: 0 2rem;
	background-color: #f44336;
	color: #fff;
	font-size: 1.5rem;
	font-weight: bold;
}

.game-board {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
	margin-top: 30px;
	margin-bottom: 20px;

	.game-board__player__name {
		color: white;
		font-size: larger;
	}

	.game-board__player__score {
		color: white;

	}
}