// .channels {
//     display: flex;
//     flex-direction: column;
//     width: 100%;

//     .channelInfos {
//         display: flex;
//         justify-content: space-around;
        
//         .channelInfo {
//             border: 2px solid black;
//             background-color: #1B1F3B;    
//             width: 300px;
//             margin-right: 30px;
//             color: white;
            
//             h2 {
//                 text-align: center;
//                 color: white;
//             }
//         }
//     }

//     .channelChat {
//         display: flex;
//         height: 450px;
//         width: 90%;
//     }
// }
