.messages {
    display: flex;
    flex-direction: column;

    /* width */
    &::-webkit-scrollbar {
        width: 5px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        background: #2C2C2C;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #888;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}