@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

.HomePage
{
  background: linear-gradient(135deg, #fe0d29, #dfc60a);
  height: 100vh;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.HomePage h1
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-family: Snell Roundhand, cursive;
	font-size: 120px;
}

.HomePage #login
{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: linear-gradient(135deg, #9a0dfe, #637dfb);
	border: none;
	width: 200px;
	height: 100px;
	color: #fff;
	font-family:'Times New Roman', Times, serif;
	font-size: 70px;
	border-radius: 30px;
}