@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

.blur.active{
	color : white;
	filter : blur(1px);
	//pointer-events: none;
	//user-select : none;
	// display: flex;
	// justify-content: center;
}

.popup {
	display: flex;
	justify-content: center;
	align-items: center;
	//transform: translate(-50%, -50%);
	width : 50%;

	//display: flex;
	//align-items: center;
	//justify-content: center;
	visibility: hidden;
	transition: transform 0.8s, opacity 0.8s;
	opacity: 0;
	//width : 400px; //vtre
	background: linear-gradient(135deg, #9a0dfe, #637dfb);
	/* animation: name duration timing-function delay iteration-count direction fill-mode; */
	border-radius: 6px;
	//text-align: center;
	padding : 0 30px 30px;
	color : rgb(255, 255, 255);
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size : 100%;
	h3 {
		color :rgb(0, 0, 0);
		display : flex;
		top : 50px;
	}
	.ProfileImg {
		display : flex;
		width: 300px;
		height: 300px;
		object-fit: cover;
		border-radius: 50%;
	}

	button{
		
		width : 100%;
		margin-top : 12px;
		padding: 10px 0;
		background: linear-gradient(135deg, #fe0d29, #dfc60a);
		color: #fff;
		border: 0;
		outline : none;
		font-size : 18px;
		border-radius : 4px;
		cursor: pointer;
		box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	}

	#listGameParent{
		#listGameScroll{
			width : 100%;
		border-radius : 4px;
		::-webkit-scrollbar {
			width: 15px;         /* width of the entire scrollbar */
		}
		
		::-webkit-scrollbar-track {
			background: linear-gradient(135deg, #fe0d29, #dfc60a); 
			border-radius: 10px;      /* color of the tracking area */
		}
		
		::-webkit-scrollbar-thumb {
			background: linear-gradient(135deg, #9a0dfe, #637dfb);;    /* color of the scroll thumb */
			border-radius: 10px;       /* roundness of the scroll thumb */
			border: 3px solid linear-gradient(135deg, #fe0d29, #dfc60a);/* creates padding around scroll thumb */
		}
			margin-top : 20px;
			height: 90px; 
			//width:100%;
			width:400px;
			overflow:hidden;
			overflow-y:scroll;

			.green{
				color :#2fbb00
			}

			.red{
				color :#bf0000
			}

			li{
				list-style-type: none;
				display : flex;
				//position: relative;
				font-size: 25px;
				margin-bottom: 2px;
			}
		}

		#listGame{
			width : 100%;
			border-radius : 4px;
			margin-top : 20px;
			height: 90px; 
			//width:100%;
			width:400px;

			.green{
				color :#2fbb00
			}

			.red{
				color :#bf0000
			}

			li{
				list-style-type: none;
				position: relative;
				font-size: 25px;
				margin-bottom: 2px;
			}
		}
	}
}

.popup.active{
	visibility: visible;
	opacity: 1;
	transition: transform 0.8s, opacity 0.8s;
	z-index: 1;
}

.main
{
  background: linear-gradient(135deg, #003554, #051923);
  height: 100vh;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
	// ::-webkit-scrollbar-button {
	// 	height: 12px;
	// }
	// ::-webkit-scrollbar {
	// 	width: 15px;       /* width of the entire scrollbar */
	// }

	// ::-webkit-scrollbar-track {
	// 	background: #0582CA;  
	// 	border-radius: 10px;      /* color of the tracking area */
	// }

	// ::-webkit-scrollbar-thumb {
	// 	background: linear-gradient(135deg, #003554, #051923);   /* color of the scroll thumb */
	// 	border-radius: 10px;       /* roundness of the scroll thumb */
	// 	border: 1px solid #0582CA; /* creates padding around scroll thumb */
	// }
	// overflow-y: scroll;
}

.HomePage h1
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-family: Snell Roundhand, cursive;
	font-size: 120px;
}

.HomePage #login
{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #0582CA;
	border: none;
	width: 200px;
	height: 100px;
	color: rgb(0, 0, 0);
	font-family:'Times New Roman', Times, serif;
	font-size: 70px;
	border-radius: 30px;
}