.CreateChannel {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.501);
    display: flex;
    justify-content: center;
    align-items: center;
    
    .CreateChannelContainer {
        background-color: #2c2c2c;
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .CreateChannelInfos {
            width: 90%;
            display: flex;
            justify-content: space-between;
            padding: 20px;
            color: white;
            font-size: 24px;
            margin-bottom: 20px;

            .FormCreateChannelClose {
                cursor: pointer;
                transition-duration: .2s;

                &:hover {
                    color: #acacac;
                    transform: scale(1.1);
                }
            }
        }

        .ChannelCreateForm {
            display: flex;
            flex-direction: column;
            width: 80%;

            .FormCreateChannelInput, .FormCreateChannelSelect, .FormCreateChannelButton {
                height: 30px;
                padding: 5px;
                border: none;
                border-bottom: 4px solid #1c1c1c;
                outline: none;
                margin: 10px;
                transition-duration: .2s;
                background-color: white;
                border-radius: 2px;
                color: #1c1c1c;

                &:focus, &:active, &:valid {
                    border-bottom: 4px solid #781cc9;
                }
            }
            .FormCreateChannelSelect {
                height: 40px;
            }
            
            .FormCreateChannelButton {
                height: 40px;
                font-size: 14px;
                cursor: pointer;
                color: #2c2c2c;
                border-bottom: 4px solid #1c1c1c;
                margin-bottom: 70px;
                transition-duration: .2s;
                
                &:hover {
                    background-color: #781cc9;
                    color: white;
                    border-bottom: 4px solid #781cc9;
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .CreateChannel {
        .CreateChannelContainer {
            width: 90%;
            // height: 90%;
            .CreateChannelInfos {
                font-size: 18px;
            }
        }
    }
}