.ChatJoinForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ChatJoinInput {
    width: 300px;
    height: 30px;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    outline: none;
    transition-duration: 0.2s;
    
    &:active, &:focus {
        border: 2px solid #FF9800;
    }
}

.ChatJoinButton {
    width: 315px;
    height: 30px;
    border: 2px solid #FF9800;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    color: #FF9800;
    background-color: white;
    transition-duration: 0.2s;

    &:hover {
        background-color: #FF9800;
        color: white;
        cursor: pointer;
    }
}
