.ChatChannel {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    min-width: 500px;
    max-width: 500px;
    height: 450px;

    .ChatChannelInfos {
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
    }

    .messages {
        overflow-y: scroll;
        height: auto;
    }
}

.playersList {
    width: 300px;
    border: 2px solid black;
    background-color: #1B1F3B;
    height: min-content;
    margin-left: 30px;
    
    h2 {
        text-align: center;
        color: white;
    }
}