.ChatChannel {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    width: 70%;

    .messages {
        overflow: scroll;
        height: 350px;
    }
}

.playersList {
    width: 300px;
    border: 2px solid black;
    background-color: #1B1F3B;
    height: min-content;
    margin-left: 30px;
    
    h2 {
        text-align: center;
        color: white;
    }
}