.channels {
    display: flex;
    width: 100%;
    
    .playersList {
        min-width: 280px;
        // min-height: 50px;
        background-color: #1F1F1F;
        height: min-content;
        .playersTitle {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            font-size: 24px;
            text-align: center;
            color: white;
        }
    }
}

.channelChat {
    display: flex;
    width: 100%;
}

@media screen and (max-width: 1160px) {
    
    .channels {
        transition-duration: 0.2s;
        .playersList {
            margin-top: 20px;
        }
    }
    .playersList {
        margin: 0;
    }    
    .channelChat {
        flex-direction: column;
    }
    .ChannelChat {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1000px) {
    .channelChat {
        margin-top: 20px;
    }
}
