.manageChannel {
    z-index: 999;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
    .manageContainer {
        margin: 10px;
        padding: 20px;
        background-color: cornflowerblue;
        display: flex;
        flex-direction: column;
        width: 600px;
        border-radius: 10px;
        height: 370px;

        .manageChannelInfos {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
                margin: 0;
                font-size: x-large;
            }
            span {
                font-size: 20px;
                font-weight: 600;
                
                &:hover {
                    cursor: pointer;
                }
            }
        }

        .manageVisibilityChoice {
            display: flex;
            flex-direction: column;

            .manageVisibilityItem {
                width: 120px;
                display: flex;
                align-items: center;
                margin: 10px 0;
            }
        }

        .manageChangePasswordButton {
            height: 25px;
            border: none;
            outline: none;

            &:nth-child(3) {
                margin-left: 10px;
            }
        }

        .manageChangeButton {
            margin-top: auto;
            width: 150px;
            height: 40px;
        }
    }
    
}