@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

.blur.active{
	color : white;
	filter : blur(5px);
	pointer-events: none;
	user-select : none;
}

.main
{
  --black : #181818;
//   background: #222222;
  font-family: 'Roboto', sans-serif;
}

.HomePage #myProfile {
	display: flex;
	.userInfo
	{
		width: 100%;
		margin-left: 18px;
		margin-right: 18px;
	}
	.userImg
	{
		width: 150px;
		height: 150px;
		position : relative;
		top : 20px;
		margin-left: 10px;
		object-fit: cover;
		border-radius: 50%;
	}
	.image {
		display: flex;
		position: absolute;
		top: 195px;
		margin-left: 125px;
	}
	.Rank {
		display: flex;
		align-items: center;
		height: auto;
		h4 {
			display: flex;
			align-items: center;
			color : white;
			font-size: 18px;
			margin-left: 10px;
			height: 31.5px;
		}
		h3 {
			position: relative;
			top: 50px;
			color: #fff;
			font-size: 26px;
		}
		img {
			position: relative;
			top: 50px;
			margin-right: 5px;
		}
	}
	h4 {
		position: relative;
		top: 50px;
		color: rgb(129, 129, 129);
		font-size: 15px;
	}
	.expBar
	{
		width : 100%;
		background: var(--black);
		height: 35px;
		top : 70px;
		position: relative;
		border-radius: 4px;
		.myExp{
			--expAmount : 0%;
			//background-color: #4158D0;
			background: linear-gradient(90deg, #8E2DE2, #4A00E0);

			//background: linear-gradient(135deg, rgb(120, 136, 152) , rgb(47, 79, 80));
			width : var(--expAmount);
			border: #000000;
			height: 35px;
			border-radius: 4px;
			//top : 15px;
			// left : 40px;
			position: absolute;
		}
		p{
			top : 4px;
			color: #fff;
			font-size: 24px;
			display: flex;
			height: fit-content;
			justify-content: center;
			position: relative;
		}
	}
	#listMyGameParent{
		top : 112px;
		position: relative;
		//margin-left : 180px;
		background: var(--black);
		padding: 10px;
		//margin-bottom: 20px;
		border-radius: 5px;
		::-webkit-scrollbar { 
			width: 15px;         /* width of the entire scrollbar */
		}
		::-webkit-scrollbar-track {
			background: #ffffff; 
			border-radius: 10px;      /* color of the tracking area */
		}
		
		::-webkit-scrollbar-thumb {
			background: var(--black);    /* color of the scroll thumb */
			border-radius: 10px;       /* roundness of the scroll thumb */
			border: 1px solid #ffffff; /* creates padding around scroll thumb */
		}
		#listMyGameScroll{
  			scrollbar-color: var(--black) #ffffff;
			overflow:hidden;
			overflow-y:scroll;
			height: 126px;
			color : #ffffff;

			li{
				list-style-type: none;
				display : flex;
				flex-direction: row;
				// position: relative;
				font-size: 25px;
				margin-bottom: 2px;
				margin-right: 0px;
				#playerName {
					width: 50%;
				}
				#playerStatus {
					width: 35%;
				}
				#playerScore {
					width: 15%;
				}
			}
			
		}

		#listMyGame{
			height: 126px;
			overflow: hidden;
			color :rgb(255, 255, 255);
			.green{
				//color :#2fbb00
				color :rgb(255, 255, 255);
			}

			.red{
				//color :#bf0000
				color : rgb(255, 255, 255);
			}

			li{
				list-style-type: none;
				display : flex;
				flex-direction: row;
				// position: relative;
				font-size: 25px;
				margin-bottom: 2px;
				margin-right: 0px;
				#playerName {
					width: 50%;
				}
				#playerStatus {
					width: 35%;
				}
				#playerScore {
					width: 20%;
				}
			}
		}
	}
}

.HomePage #login
{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 100px;
	transform: translate(-50%, -50%);
	background: var(--black);
	border: none;
	padding: 10px;
	outline : none;
	// width: 200px;
	// height: 100px;
	color: rgb(255, 255, 255);
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 50px;
	border-radius: 30px;
	cursor: pointer;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.HomePage #loginTitle
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: rgb(255, 255, 255);
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 70px;
}

@media screen and (max-width: 674px) {
	.HomePage {
		#loginTitle
		{
			font-size: 30px;
		}
		#login
		{
			margin-top: 70px;
			font-size: 30px;
		}
		#myProfile{
			display: flex;
			flex-direction: column;
			align-items: center;
			.Rank {
				justify-content: center;
			}
			h3 {
				text-align: center;
			}
			h4 {
				margin-top: 4px;
				text-align: center;
			}
			.userInfo {
				align-items: center;
				width: 80%;
				margin: 0;
			}
			.image{
				margin-left: 55px;
			}
			#listMyGameParent
			{
				#listMyGameScroll {
					height: 66px;
				}
				p {
					font-size: 12.5px;
				}
				li {
					flex-direction: column;
				}
			}
		}
	}
}

@media screen and (max-width: 926px) and (min-width: 674px) {
	.HomePage {
		#myProfile{
			#listMyGameParent
			{
				#listMyGameScroll {
					height: 84px;
				}
				p {
					font-size: 16px;
				}
				li {
					flex-direction: column;
				}
			}
		}
	}
}

@media screen and (max-width: 550px) {
	.HomePage {
		#myProfile{
			.image {
				top: 235px;
			}
		}
	}
}