@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

.blur.active {
	color: white;
	filter: blur(5px);
	pointer-events: none;
	user-select: none;
}

.main {
	--black: #181818;
	font-family: 'Roboto', sans-serif;
}

.HomePage #myProfile {
	display: flex;

	.userInfo {
		width: 100%;
		margin-left: 18px;
		margin-right: 18px;
	}

	.userImg {
		width: 150px;
		height: 150px;
		position: relative;
		top: 20px;
		margin-left: 10px;
		object-fit: cover;
		border-radius: 50%;
	}

	.image {
		display: flex;
		position: absolute;
		top: 195px;
		margin-left: 125px;
	}

	.Rank {
		display: flex;
		align-items: center;
		height: auto;

		h4 {
			display: flex;
			align-items: center;
			color: white;
			font-size: 18px;
			margin-left: 10px;
			height: 31.5px;
		}

		h3 {
			position: relative;
			top: 50px;
			color: #fff;
			font-size: 26px;
		}

		img {
			position: relative;
			top: 50px;
			margin-right: 5px;
		}
	}

	h4 {
		position: relative;
		top: 50px;
		color: rgb(129, 129, 129);
		font-size: 15px;
	}

	.expBar {
		width: 100%;
		background: var(--black);
		height: 35px;
		top: 70px;
		position: relative;
		border-radius: 4px;

		.myExp {
			--expAmount: 0%;
			background: linear-gradient(90deg, #8E2DE2, #4A00E0);
			width: var(--expAmount);
			border: #000000;
			height: 35px;
			border-radius: 4px;
			position: absolute;
		}

		p {
			top: 4px;
			color: #fff;
			font-size: 24px;
			display: flex;
			height: fit-content;
			justify-content: center;
			position: relative;
		}
	}

	#listMyGameParent {
		margin-top: 100px;
		font-size: 16px;
		background-color: #131313;
		overflow: hidden;
		color: white;
		font-family: 'Roboto Condensed', sans-serif;
		padding: 10px;
		border-radius: 5px;

		p:nth-child(1) {
			text-align: center;
			margin-left: 2px;
		}

		p:nth-child(3) {
			text-align: right;
		}


		.table {
			display: grid;
			font-size: 14px;
			grid-template-columns: 1fr 1fr 0.4fr;
			text-align: center;
			margin-bottom: 5px;

			div:nth-child(1) {
				text-align: center;
				margin-left: 2px;
			}

			div:nth-child(2) {
				text-align: center;
			}

			div:nth-child(3) {
				text-align: center;
			}
		}

		.user {
			background-color: #2B2B2B;
			display: grid;
			grid-template-columns: 1fr 1fr 0.4fr;

			align-items: center;
			min-height: 42px;
			text-align: center;
			margin: 0px 0px 10px 0px;
			border-radius: 5px;

			p:nth-child(1) {
				text-align: center;
				display: inline;
				margin: 0;

				a {
					color: #fff;
					text-decoration: none;
					cursor: pointer;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			p:nth-child(2) {
				text-align: center;
			}

			p:nth-child(3) {
				text-align: center;
			}
		}

		#listMyGame {
			overflow: scroll;
			height: 200px;
			overflow-x: hidden;
			overflow-y: scroll;
			scrollbar-width: none;
		}

		#listMyGame::-webkit-scrollbar {
			width: 6px;
			background-color: #F5F5F5;
			display: none;
		}

		#listMyGame::-webkit-scrollbar-thumb {
			background-color: #646464;
		}
	}
}

.HomePage #login {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 100px;
	transform: translate(-50%, -50%);
	background: var(--black);
	border: none;
	padding: 10px;
	outline: none;
	color: rgb(255, 255, 255);
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 50px;
	border-radius: 30px;
	cursor: pointer;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.HomePage #loginTitle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: rgb(255, 255, 255);
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 70px;
}

.HomePage .rules {
	background-color: #131313;
	color: white;
	font-size: 20px;
	padding: 16px 20px;
	text-align: center;
	text-decoration: none;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition-duration: 0.4s;
	font-weight: bold;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
}

@media screen and (max-width: 674px) {
	.HomePage {
		#loginTitle {
			font-size: 30px;
		}

		#login {
			margin-top: 70px;
			font-size: 30px;
		}

		#myProfile {
			display: flex;
			flex-direction: column;
			align-items: center;

			.Rank {
				justify-content: center;
			}

			h3 {
				text-align: center;
			}

			h4 {
				margin-top: 4px;
				text-align: center;
			}

			.userInfo {
				align-items: center;
				width: 80%;
				margin: 0;
			}

			.image {
				margin-left: 108px;
			}

			#listMyGameParent {
				#listMyGameScroll {
					height: 66px;
				}

				p {
					font-size: 12.5px;
				}

				li {
					flex-direction: column;
				}
			}
		}
	}
}

@media screen and (max-width: 926px) and (min-width: 674px) {
	.HomePage {
		#myProfile {
			#listMyGameParent {
				#listMyGameScroll {
					height: 84px;
				}

				p {
					font-size: 16px;
				}

				li {
					flex-direction: column;
				}
			}
		}
	}
}

@media screen and (max-width: 550px) {
	.HomePage {
		#myProfile {
			.image {
				top: 235px;
			}
		}
	}
}